body{
    background-color:black;
    font-family: var(--font-dm-sans);

}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
    height: 100hv;

}

.sidebar_navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;

}

.sidebar_navigation .logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;

}

.logo img{
    width: 80px;


}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0px 20px 10px 20px;

}

.sidebar nav ul li{
    padding: 10px 0px;

}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    

}

.library{
    background-color: #121212;
    border-radius: 8px;
    display: flex; /*flex box, deixa mais flexivel o posicionamento dos elementos*/
    justify-content: space-between; /*Space between - organiza os itens de forma justificada com um espaçamento entre os objetos*/
    flex-direction: column; /*organiza os itens em colunas*/
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;

}

.library .library_content{
    display: flex;
    justify-content: space-between;
    
}

.library .library_button{
    margin-right: 10px;
    color:#b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;

}

.library .library_content .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;

}

.library .library_content .fa-plus{
    margin: 24px 10px;

}

.section_playlist{
    display: flex;
    background-color: #242424;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;

}

.section_playlist .section_playlist_content{
    display: flex;
    flex-direction: column;

}

.section_playlist_content .text{
    padding-bottom: 14px;
    color: #fff;

}

.section_playlist_content .title{
    font-weight: 700;

}

.section_playlist_content .subtitle{
    font-weight: 500;
    font-size: 12px;

}

.section_playlist_content .section_playlist_button{
    display: flex;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    margin-top: 12px;

}

.sidebar .cookies{
    margin: 20px 20px;
    
}

.sidebar .cookies a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    
}

.sidebar .cookies a:hover{
    text-decoration: underline;

}

.sidebar .languages_button{
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;

}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-image: linear-gradient(to right, rgb(151, 0, 151), rgb(68, 120, 253));
    color: #fff;
    margin: 8px;
    padding: 8px;
    
}

footer .rodape{
    display: flex;
    justify-content: space-between;

}

footer .rodape .rodape_content{
    display: flex;
    flex-direction: column;

}

footer .rodape .rodape_content .text{
    padding-bottom: 14px;
    color: #fff;
    font-size: 14px;

}

footer .rodape .rodape_content .title{
    font-weight: 700;

}

footer .rodape button{
    position: fixed;
    right: 0;
    padding: 15px 30px;
    margin-right: 30px;
    border-radius: 25px;
    border: 1px solid #878787;
    font-weight: 600;
    font-size: 14px;

}